body{
    background-color: aqua;
}
h2{
    font-family: Oswald;
    font-weight: bolder;
}
p{
    font-family: Nunito Sans;
    font-weight: bolder;
}
.block{
    box-shadow: 0px 0px 6px;
    background-color: white;
    position: relative;
    width: 300px;
    height:350px;
    float: left;
    margin: 20px;
    text-align: center;
}
.icon{
    margin-top: 5px;
    border-radius: 100px;
  height: 100px;
}
a{
    font-size: 18px;
    color: blue;
    text-transform: uppercase;
}
#div1{
    bottom:170px;
}
#div2{
    bottom:270px;
}
#div3{
    bottom:170px;
}
#div4{
    bottom:270px;
}
.main{
    background-color: black;
    margin-top: 300px;
    width: 1400px;
    padding: 5%;
    height: 290px;
    margin-left: 150px;
    border-radius: 2%;
}