#mainDiv {
    width: 1800px;
    height: 850px;
    border: 1px solid black;
    margin: auto;
  }

  .subDiv {
    width: 23px;
    height: 23px;
    background-color: lightgreen;
    border: 1px solid black;
    float: left;
  }
  .selected {
    background-color: lightblue;
    border-color: blue;
  }